

<div class="container mt-3">
  <div class="col-3 mb-4">
    <input list="myList" (input)="FilterByCategory()" [(ngModel)]="searchCategory"  class="form-control" type="text" placeholder="Search Category"/>
    <datalist id="myList">
      <option *ngFor="let item of distinctCategories">{{item}}</option>
    </datalist>
  </div>
  <table class="table table-hover text-center">
    <thead>
      <tr >
        <th>Year</th>
        <th>Category</th>
        <th>Laureate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prize of filteredPrizes">
        <td >{{prize.year}}</td>
        <td >{{prize.category}}</td>
        <td style="width: 400px;">
          <ul *ngIf="prize.laureates && prize.laureates.length;else PrizeMotivation" >
            <li *ngFor="let laureate of prize.laureates">{{ laureate.firstname}} {{ laureate.surname? laureate.surname : " "}}</li>
          </ul>
          <ng-template #PrizeMotivation>
            <ul>
              <li>{{prize.overallMotivation}}</li>
            </ul>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>